@media (max-width: 990px) {

    .fillpage2 {
        position: static;
        /* minHeight:  */
    }

    .loginImg {
        opacity: 0.5;
        /* border: 1px solid black */
    }

    .login-container {
        border: none;
    }
}